<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxufe.ljw.thesis.dao.StudentTeacherRelationDao">
    <insert id="addStudentTeacherRelation">
        insert  into t_student_teacher_relation(relation_id,student_no,student_name,student_class,teacher_no,teacher_name,thesis_no,thesis_title,teacher_opinion,opinion_flag,task_status,task_url,thesis_status,thesis_url)
        values (#{relationId},#{studentNo},#{studentName},#{studentClass},#{teacherNo},#{teacherName},#{thesisNo},#{thesisTitle},#{teacherOpinion},#{opinionFlag},#{taskStatus},#{taskUrl},#{thesisStatus},#{thesisUrl})
    </insert>
    <update id="operateStudent">
        update t_student_teacher_relation
        set teacher_opinion=#{teacherOpinion},opinion_flag=#{opinionFlag}
        where thesis_no=#{thesisNo}
    </update>
    <update id="updateTaskUrlByThesisNo">
        update t_student_teacher_relation
        set task_url=#{taskUrl},task_status=1
        where thesis_no=#{thesisNo}
    </update>
    <update id="updateThesisUrlByThesisNo">
         update t_student_teacher_relation
        set thesis_url=#{thesisUrl},thesis_status=1
        where thesis_no=#{thesisNo}
    </update>
    <delete id="deleteRelationByThesisNo">
        delete from  t_student_teacher_relation
        where thesis_no=#{thesisNo}
    </delete>
    <delete id="deleteRelationByAccount">
        delete from t_student_teacher_relation
        where teacher_no=#{userAccount} or student_no=#{userAccount}
    </delete>
    <select id="getStudentTeacherRelationByStudentNo" resultType="com.jxufe.ljw.thesis.bean.StudentTeacherRelation">
        select * from t_student_teacher_relation
        where student_no=#{studentNo}
    </select>
    <select id="getStudentSelectThesisByTeacherNo"
            resultType="com.jxufe.ljw.thesis.bean.StudentTeacherRelation">
        select
        relation.*,
        student.student_major,
        student.student_instructor,
        student.student_phone,
        student.student_email
        from t_student_teacher_relation relation
        left join t_student_info student
        on relation.student_no=student.student_no
        where teacher_no=#{teacherNo}
        <if test="opinionFlag!=3">
            and opinion_flag=#{opinionFlag}
        </if>
    </select>
    <select id="getStudentTeacherRelationByThesisNo"
            resultType="com.jxufe.ljw.thesis.bean.StudentTeacherRelation">
          select
        relation.*,
        student.student_major,
        student.student_instructor,
        student.student_phone,
        student.student_email
        from t_student_teacher_relation relation
        left join t_student_info student
        on relation.student_no=student.student_no
        where thesis_no=#{thesisNo}
    </select>
    <select id="getStudentSelectThesisAgreeNumByTeacherNo" resultType="java.lang.Integer">
        select count(relation_id)
 FROM t_student_teacher_relation
 WHERE teacher_no=#{teacherNo} and opinion_flag=#{opinionFlag}
    </select>
    <select id="getAgreeThesisByStudentNo" resultType="com.jxufe.ljw.thesis.bean.StudentTeacherRelation">
          select
        relation.*,
        student.student_major,
        student.student_instructor,
        student.student_phone,
        student.student_email
        from t_student_teacher_relation relation
        left join t_student_info student
        on relation.student_no=student.student_no
        where relation.student_no=#{studentNo}
        <if test="opinionFlag!=null">
            and opinion_flag=#{opinionFlag}
        </if>
    </select>
    <select id="getAllStudentTeacherDetail" resultType="com.jxufe.ljw.thesis.bean.StudentTeacherRelation">
        SELECT
        si.*,
        temp.teacher_no,
        temp.teacher_name,
        temp.thesis_no,
        temp.thesis_title,
        temp.teacher_opinion,
        temp.opinion_flag,
        temp.task_status,
        temp.task_url,
        temp.thesis_status,
        temp.thesis_url,
        temp.teacher_title,
        temp.teacher_phone,
        temp.teacher_email
        FROM
        t_student_info si
        LEFT JOIN (
        SELECT
        str.*,
        ti.teacher_title,
        ti.teacher_phone,
        ti.teacher_email
        FROM
        t_student_teacher_relation str
        LEFT JOIN t_teacher_info ti ON str.teacher_no = ti.teacher_no
        ) temp ON temp.student_no = si.student_no
        WHERE
        1 = 1
        <if test="relation.studentName !=null and relation.studentName!=''">
            AND si.student_name LIKE CONCAT( '%', #{relation.studentName}, '%' )
        </if>
        <if test="relation.studentNo !=null and relation.studentNo!=''">
            AND si.student_no LIKE CONCAT( '%', #{relation.studentNo}, '%' )
        </if>
        <if test="relation.thesisTitle !=null and relation.thesisTitle!=''">
            AND temp.thesis_title LIKE CONCAT( '%', #{relation.thesisTitle}, '%' )
        </if>
        <if test="relation.teacherName !=null and relation.teacherName!=''">
            AND temp.teacher_name LIKE CONCAT( '%', #{relation.teacherName}, '%' )
        </if>
        <if test="relation.teacherNo !=null and relation.teacherNo!=''">
            AND temp.teacher_no LIKE CONCAT( '%', #{relation.teacherNo}, '%' )
        </if>
    </select>
    <select id="getAllDealNum" resultType="java.lang.Integer">
        SELECT count(relation_id)
     from t_student_teacher_relation
      WHERE
      <if test="opinionFlag!=null"></if>
      opinion_flag=#{opinionFlag}
    </select>
    <select id="getStudentAgreeByTeacherNo" resultType="com.jxufe.ljw.thesis.bean.StudentTeacherRelation">
        select
        relation.*,
        student.student_major,
        student.student_instructor,
        student.student_phone,
        student.student_email
        from t_student_teacher_relation relation
        left join t_student_info student
        on relation.student_no=student.student_no
        WHERE
        relation.teacher_no=#{teacherNo} and relation.opinion_flag=1
    </select>

</mapper>
