<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxufe.ljw.thesis.dao.StudentInfoDao">
    <insert id="addStudentInfo">
        insert into t_student_info(student_id,user_id,student_no,student_name,student_major,student_instructor,student_class,student_phone,student_email)
        values (#{studentId},#{userId},#{studentNo},#{studentName},#{studentMajor},#{studentInstructor},#{studentClass},#{studentPhone},#{studentEmail})
    </insert>
    <update id="updateStudentInfo">
      update
        t_student_info
      set
        student_phone = #{phone},student_email = #{email}
      where
        user_id = #{userId}
    </update>
    <select id="getStudentInfo" resultType="com.jxufe.ljw.thesis.bean.StudentInfo">
        select * from t_student_info
        where user_id=#{userId}
    </select>
</mapper>
