<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxufe.ljw.thesis.dao.TeacherInfoDao">
    <insert id="addTeacherInfo">
        insert into t_teacher_info(teacher_id,user_id,teacher_no,teacher_name,teacher_title,teacher_education,teacher_phone,teacher_email,group_name)
        values (#{teacherId},#{userId},#{teacherNo},#{teacherName},#{teacherTitle},#{teacherEducation},#{teacherPhone},#{teacherEmail},#{groupName})
    </insert>
    <update id="updateTeacherInfo">
        update t_teacher_info
        set
        teacher_phone=#{phone},teacher_email=#{email}
        where user_id=#{userId}
    </update>
    <update id="updateTeacherInfoByTeacher">
        update t_teacher_info
        set
        teacher_no=#{teacherNo},teacher_name=#{teacherName},teacher_title=#{teacherTitle},teacher_education=#{teacherEducation},teacher_phone=#{teacherPhone},
        teacher_email=#{teacherEmail}
        where user_id=#{userId}
    </update>
    <update id="updateTeacherGroupName">
         update t_teacher_info
        set group_name=#{groupName}
        where user_id=#{userId}
    </update>
    <update id="updateGroupNameByGroupName">
        UPDATE t_teacher_info
        set group_name=""
        WHERE group_name=#{groupName}
    </update>
    <delete id="deleteTeacherById">
        delete from t_teacher_info
        where user_id=#{userId}
    </delete>
    <select id="getTeacherInfo" resultType="com.jxufe.ljw.thesis.bean.TeacherInfo">
        select  * from t_teacher_info
        where user_id=#{userId}
    </select>
    <select id="getTeacherInfoByTeacherNo" resultType="com.jxufe.ljw.thesis.bean.TeacherInfo">
        select * from t_teacher_info
        where teacher_no=#{teacherNo}
    </select>
    <select id="getTeacherListByDetail" resultType="com.jxufe.ljw.thesis.vo.UserInfoDetail">
        select * from t_teacher_info
        <where>
            <if test="userAccount!=null and userAccount!=''">
                teacher_no  like CONCAT(#{userAccount},"%")
            </if>
            <if test="userName!=null and userName!=''">
                and teacher_name like CONCAT(#{userName},"%")
            </if>
        </where>
    </select>
    <select id="getTeacherInfoForManager" resultType="com.jxufe.ljw.thesis.bean.TeacherInfo">
        select * from t_teacher_info
        <where>
            <if test="teacherNo!=null and teacherNo!=''">
                teacher_no  like CONCAT(#{teacherNo},"%")
            </if>
            <if test="teacherName!=null and teacherName!=''">
                and teacher_name like CONCAT(#{teacherName},"%")
            </if>
            <if test="groupName!=null and groupName!=''and groupName!='-1'">
                and group_name= #{groupName}
            </if>
            <if test="groupName=='-1'">
                and group_name is null or group_name=''
            </if>
        </where>
    </select>
    <select id="getTeacherByGroupName" resultType="com.jxufe.ljw.thesis.bean.TeacherInfo">
        select * from t_teacher_info
        where group_name=#{groupName}
    </select>
    <select id="getAllTeachers" resultType="com.jxufe.ljw.thesis.bean.TeacherInfo">
        select * from t_teacher_info
    </select>
</mapper>
