<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxufe.ljw.thesis.dao.ThesisInfoDao">
    <insert id="addThesis">
        insert into t_thesis_info(thesis_id,thesis_title,teacher_no,teacher_name,notice_info,select_num)
        values (#{thesisId},#{thesisTitle},#{teacherNo},#{teacherName},#{noticeInfo},#{selectNum})
    </insert>
    <update id="updateThesis">
        update t_thesis_info
        set
        thesis_title=#{thesisTitle},notice_info=#{noticeInfo}
        <if test="selectNum!=null">,select_num=#{selectNum}</if>
        where thesis_id=#{thesisId}
    </update>

    <delete id="deleteThesis">
    delete  from t_thesis_info
    where thesis_id=#{thesisId}
    </delete>
    <select id="getThesisInfo" resultType="com.jxufe.ljw.thesis.bean.ThesisInfo">
        select
        thesis.*,
        teacher.teacher_title,
        teacher.teacher_phone,
        teacher.teacher_email
      from
        t_thesis_info thesis
      left join t_teacher_info teacher
      on thesis.teacher_no = teacher.teacher_no
      where 1=1
      <if test="thesis.thesisTitle!=null and thesis.thesisTitle!=''">
         and thesis.thesis_title like #{thesis.thesisTitle}
      </if>
      <if test="thesis.teacherNo!=null and thesis.teacherNo!=''">
          and thesis.teacher_no like #{thesis.teacherNo}
      </if>
      <if test="thesis.teacherName!=null and thesis.teacherName!=''">
        and thesis.teacher_name like #{thesis.teacherName}
      </if>
        <if test="thesis.selectNum!=null">
            and thesis.select_num = #{thesis.selectNum}
        </if>
    </select>
    <select id="getThesisInfoByTeacherNo" resultType="com.jxufe.ljw.thesis.bean.ThesisInfo">
         select
        *
      from
        t_thesis_info
      where
        teacher_no = #{teacherNo}
    </select>
    <select id="getThesisByThesisId" resultType="com.jxufe.ljw.thesis.bean.ThesisInfo">
        select * from t_thesis_info
        where
        thesis_id=#{thesisId}
    </select>
</mapper>
