<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxufe.ljw.thesis.dao.UserDao">
    <insert id="addUser" >
        Insert into t_user(user_id,user_account,user_password,user_type)
        values(#{userId},#{userAccount},#{userPassword},#{userType})
    </insert>
    <update id="updateUserPassword">
        update t_user
        set
        user_password=#{newPwd}
        where
        user_id=#{userId}
    </update>
    <select id="getUserByAccountAndType" resultType="com.jxufe.ljw.thesis.bean.User">
        select * from t_user
        where user_account=#{userAccount} and user_type=#{userType}
    </select>
</mapper>
